.stars {
  cursor: pointer;
}

.stars span {
  color: #ccc;
  margin-right: 4px;
  
}

.active {
  color: gold;
}
.stars i:hover{
    color: gold;

}
.rating{
  display: flex;
}

@media (min-width: 577px) and (max-width: 768px) {
  .rating {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .rating {
    font-size: 14px;
  }
}