body {
    background-color: rgb(20, 26, 34);
}

.list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap: 20px;
}

@media (min-width: 577px) and (max-width: 991px) {
    .list {
        width: 90%;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .list {
        width: 95%;
        justify-content: center;
    }
}