.card {
  border: 1px solid #ddd;
  background: #fff;
  width: 31%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 577px) and (max-width: 768px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}

.image {
  width: 100%;
  height: 300px;
 
}

.title {
  font-weight: 500;
}

.gener {
  font-size: 14px;
  background: rgb(83, 83, 222);
  padding: 3px 10px;
  border-radius: 20px;
  color: #fff;
  margin-right: 5px;
}

.cardP {
  margin: 10px 0px;
}

.cardContent {
  padding: 15px;
}

.ratingI {
  color: rgb(230, 163, 3);
  font-size: 40px;
  position: absolute;
  right: 5px;
  top: 5px;

}

.rateNum {
  position: absolute;
  right: 25px;
  top: 15px;
  color: #fff;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

}

.editBtn {
  background-color: rgb(83, 83, 222);
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.deleteBtn {
  background-color: rgb(245, 244, 241);
  color: rgb(12, 12, 12);
  border: 1px solid black;
  padding: 8px 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}


.editBtn i {
  font-size: 14px;
}