.card {
  border: 1px solid #ddd;
  /* padding: 15px; */
  /* border-radius: 10px; */
  background: #fff;
  width: 32%;
  margin-bottom: 10px;
  

}

.image {
  width: 100%;
  height: 300px;
  /* object-fit: cover; */
  /* border-radius: 8px; */
}
.title{
  font-weight: 500;
}
.gener{
  font-size: 14px;
  background: rgb(83, 83, 222);
  padding: 3px 10px;
  border-radius: 20px;
  color: #fff;
  margin-right: 5px;
}

.cardP{
  margin: 10px 0px;
}
.cardContent{
  padding: 15px;
}
