.card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.genres span {
  margin-right: 6px;
  font-size: 12px;
  background: #eee;
  padding: 3px 6px;
  border-radius: 5px;
}

.theaters {
  font-weight: bold;
}
